h1{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: sans-serif;
}
label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"], input[type="email"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #45a049;
}
h2{
    text-align: center;
    color: #333;
    margin-top: 40px;
}
table{
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
}
th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th{
    background-color: #f2f2f2;
}

